@import "tailwindcss";

pre,
code {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
